.wrapper {
  min-height: 99.9vh;
  background-color: #2e2e2e;
}

.main-content {
  margin-top: 10px;
}

.card {
  display: inline-block;
}

.navbar {
  box-shadow: 0px 2px 10px 0px black;
}

.nav-item a {
  color: white;
}
